rpgprojekt/art/brutalist_clear/license.txt
rpgprojekt/art/brutalist_noisy/license.txt
rpgprojekt/.godot/editor/script_editor_cache.cfg
rpgprojekt/.godot/editor/project_metadata.cfg
rpgprojekt/.godot/editor/project_metadata.cfg
rpgprojekt/.godot/editor/filesystem_cache10
rpgprojekt/.godot/editor/editor_layout.cfg
rpgprojekt/.godot/editor/filesystem_cache10
rpgprojekt/.godot/editor/filesystem_update4
rpgprojekt/.godot/editor/script_editor_cache.cfg
rpgprojekt/.godot/editor/project_metadata.cfg
rpgprojekt/.godot/mono/metadata/ide_messaging_meta.txt
rpgprojekt/.godot/uid_cache.bin
rpgprojekt/.godot/editor/battle_scene.tscn-editstate-0dc7cd1ec98504a90682f39960b085b1.cfg
rpgprojekt/.godot/editor/editor_layout.cfg
rpgprojekt/.godot/editor/filesystem_cache10
